{{- /*
  I've reworked the banner to prevent it from showing "content" by default,
  because that was just confusing, and wrong.
  */
-}}

{{- $banner := .Page.Params.banner -}}

{{- if and $banner (not (eq $banner.enabled false)) -}}
  {{- $image := default (.Resources.Get "banner.jpg") (.Resources.Get $banner.image) -}}

  {{/* create a large area with background image.. */}}
  <div
    class="bg-cover bg-top bg-[url({{ ($image.Resize "x1200 q80").RelPermalink }})]"
  >
    <div
      class="min-h-96 {{ partial "bg-color.tmpl" . }}/75 backdrop-blur-none p-24 text-shadow-tile"
    >
      <h1
        class="text-6xl font-bold text-zinc-900 pb-12 border-b-2 border-zinc-900 mt-6 mb-12"
      >
        {{ $banner.title | default .Title | markdownify }}
      </h1>
      <div
        class="text-sm font-semibold uppercase tracking-widest text-zinc-800 flex flex-col gap-4"
      >
        {{ $banner.subtitle | default .Description | markdownify }}
      </div>
    </div>
  </div>
{{ end }}
