{{- $context := index . 0 -}}
{{- $content := index . 1 -}}
{{- if $context.Site.Params.debug }}
<pre style="position: absolute; top: 5em; left: 60%; right: 1em; z-index: 1000; background: rgba(255,255,255,0.75); color: black; font-size: 75%; padding: 0.5em; white-space: pre-wrap">
  {{- if reflect.IsMap $content -}}
    {{- range $key, $value := $content }}
{{ $key }}: {{ printf "%+v" $value }}
    {{- end }}
  {{- else if reflect.IsSlice $content -}}
    {{- range $key, $value := $content }}
[{{ $key }}]: {{ printf "%+v" $value }}
    {{- end }}
  {{- else -}}
{{ printf "%+v" $content }}
  {{- end -}}
</pre>
{{- end }}
