{{- /* footer */ -}}
<footer class="py-12 px-4 flex flex-col">
  {{- /* social media icons */ -}}
  <ul class="flex gap-4">
    {{ range site.Params.footer.social }}
      <li><a href="{{ .url | safeHTML }}" title="{{ .label }}" target="_blank"><i class="fa-brands {{ .icon }} fa-fw fa-2x"></i></a></li>
    {{ end }}
  </ul>

  {{- /* copyright and quick links */ -}}
  <ul class="mt-4 text-sm text-zinc-400 flex flex-wrap gap-x-4">
    <li>
      &copy; {{ time.Now | time.Format "2006" }} {{ site.Params.author }}. All
      Rights Reserved.
    </li>

    {{ range site.Params.footer.quicklinks }}
      <li>{{ .text }} <a href="{{ .url | safeHTML }}">{{ .alt }}</a></li>
    {{ end }}
  </ul>
</footer>
