{{- $options := (dict "outputStyle" "compressed") }}
{{- $style := resources.Get "css/main.scss" | toCSS $options | fingerprint }}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
{{- with site.Params.description }}
  <meta name="description" content="{{ . }}">
{{- end }}
{{- with site.Params.author }}
  <meta name="author" content="{{ . }}">
{{- end }}

<title>{{ .Title }}{{ if not .IsHome }} &middot; {{ site.Title }}{{ end }}</title>

{{ template "_internal/google_analytics.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/schema.html" . }}
{{ template "_internal/twitter_cards.html" . }}

<link rel="stylesheet" type="text/css" href="{{ $style.RelPermalink }}"/>

{{- range site.Params.custom_css }}
  <link rel="stylesheet" type="text/css" href="{{ . | relURL }}">
{{- end }}

{{- with site.Params.favicon }}
  {{- /* <link rel="shortcut icon" type="image/x-icon" href="{{ . | relURL }}"> */ -}}
  <link rel="icon" type="image/x-icon" href="{{ . | relURL }}">
{{- end }}

{{- /*
  Get page-specific styles, if they exist...
*/ -}}
{{- $pageCss := .Resources.GetMatch "page.scss" -}}
{{- if $pageCss }}
  <link rel="stylesheet" type="text/css" href="{{ ($pageCss | toCSS $options | fingerprint).RelPermalink }}"/>
{{- end }}
