{{- /* Header & nav... */ -}}


<header
  id="header"
  x-data="{ showMobileMenu: false, scrolled: false }"
  @scroll.window="scrolled = (window.scrollY + 10 >= $el.offsetHeight)"
  class="fixed w-full transition-colors"
  :class="scrolled ? 'bg-zinc-50' : ''"
>
  <nav class="flex items-center justify-between p-4" aria-label="Global">
    <div class="flex lg:flex-1">
      <a
        href="{{ site.BaseURL }}"
        class="-m-1.5 p-1.5 group font-bold uppercase tracking-widest"
      >
        <span
          class="bg-black text-white group-hover:bg-cyan-500 group-hover:text-white hover:text-white p-1"
          >{{ site.Params.header.title | default site.Title }}</span
        >
        <span class="">{{ site.Params.header.subtitle }}</span>
      </a>
    </div>

    {{- /* mobile hamburger menu */ -}}
    <div class="flex xl:hidden">
      <button
        type="button"
        @click="showMobileMenu = !showMobileMenu"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="size-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
          />
        </svg>
      </button>
    </div>

    {{- /* Loop through sections in weight order */ -}}
    <div class="hidden xl:flex xl:gap-x-4 2xl:gap-x-8">
      {{ range site.Sections.ByWeight }}
        <a
          href="{{ .RelPermalink }}"
          class="text-sm/6 font-semibold text-gray-900 uppercase tracking-wider"
          >{{ .Title }}</a
        >
      {{ end }}
    </div>
  </nav>

  {{- /* mobile menu; `showMobileMenu` should also update on resize 🤷🏼‍♂️ */ -}}
  <div
    x-show="showMobileMenu"
    style="display: none"
    role="dialog"
    aria-modal="true"
  >
    {{- /* Background backdrop, show/hide based on slide-over state. */ -}}
    <div class="fixed inset-0 z-10"></div>
    <div
      class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10"
    >
      <div class="flex items-center justify-between">
        <div>{{- /* placeholder for "brand" ? */ -}}</div>
        <button
          type="button"
          @click="showMobileMenu = !showMobileMenu"
          class="-m-2.5 rounded-md p-2.5 text-gray-700"
        >
          <span class="sr-only">Close menu</span>
          <svg
            class="size-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
            data-slot="icon"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18 18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
      <div class="mt-6 flow-root">
        <div class="-my-6 divide-y divide-gray-500/10">
          <div class="space-y-2 py-6">
            <a
              href="/"
              class="-mx-3 block rounded-lg px-3 py-2 text-base/7 uppercase tracking-wider font-semibold text-gray-900 hover:bg-gray-50"
              >Home</a
            >

            {{- /* Loop through sections in weight order */ -}}
            {{ range site.Sections.ByWeight }}
              <a
                href="{{ .RelPermalink }}"
                class="-mx-3 block rounded-lg px-3 py-2 text-base/7 uppercase tracking-wider font-semibold text-gray-900 hover:bg-gray-50"
                >{{ .Title }}</a
              >
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
