{{- /*
  The "tiles" section is used only when a page explicitly enables it.
*/ -}}

{{- if (or .Params.tiles.enable) }}
  <section id="one" class="tiles">
    {{- range .Pages }}
      <article>
        {{- $tile := .Resources.GetMatch "tile.jpg" -}}
        {{- $tileW := .Resources.GetMatch "tile.webp" -}}
        {{- .Scratch.SetInMap "debug" "01-page" . -}}
        {{- .Scratch.SetInMap "debug" "02-kind" .Kind -}}
        {{- .Scratch.SetInMap "debug" "03-desc" .Params.description -}}
        {{- .Scratch.SetInMap "debug" "04-tile" $tile -}}
        {{- .Scratch.SetInMap "debug" "05-tileW" $tileW -}}
        {{- /* .Scratch.SetInMap "debug" "10-params" .Params */ -}}
        {{- .Scratch.SetInMap "debug" "11-resources" .Resources -}}
        {{- partial "debug.html" (slice . (.Scratch.Get "debug")) -}}
        {{- .Scratch.Delete "debug" -}}
        {{- if $tile }}
          <span class="image">
            <img src="{{ ($tile.Resize "x500 q75").RelPermalink }}" alt="" />
          </span>
        {{- end }}
        <header class="major">
          <h3><a href="{{ .RelPermalink }}" class="link">{{ .Title | markdownify }}</a></h3>
          <p>{{ .Description | markdownify }}</p>
        </header>
      </article>
    {{- end }}
  </section>
{{- end }}
