{{- /*
  The "tiles" section is used only when a page explicitly enables it.
  */
-}}

{{- if (or .Params.tiles.enable) }}

  <section class="flex flex-wrap justify-stretch xx-gap-4 mb-12">
    {{ range $i, $p := .Pages }}
      {{ $tile := $p.Resources.Get "tile.jpg" }}
      {{ $stretch := eq (math.Mod $i 4) 1 2 }}
      <article
        class="min-w-2/5 {{ if $stretch }}
          flex-grow
        {{ end }} bg-cover bg-center bg-[url({{ ($tile.Resize "x800 q80").RelPermalink }})]"
      >
        <a
          href="{{ $p.RelPermalink }}"
          class="tile block w-full text-zinc-900 {{ partial "bg-color.tmpl" $p }}/75 hover:bg-white/40 hover:text-black hover:text-shadow-tile transition-all duration-750 backdrop-blur-none py-24 px-18"
        >
          <h3
            class="text-3xl font-semibold text-zinc-900 pb-4 border-b-2 border-zinc-900 mb-4"
          >
            {{ $p.Title | markdownify }}
          </h3>
          <p
            class="text-xs uppercase tracking-wider font-semibold font-zinc-800"
          >
            {{ $p.Description | markdownify }}
          </p>
        </a>
      </article>
    {{ end }}
  </section>
{{ end }}
