{{- /*
  I've reworked the banner to prevent it from showing "content" by default,
  because that was just confusing, and wrong.
*/ -}}

{{- if .Page.Params.banner -}}
  {{- $banner := .Page.Params.banner -}}
  {{- $image := .Resources.GetMatch "banner.jpg" -}}

  <section id="banner" {{ with $banner.class }}class="{{ . }}"{{end}} {{ with $image }}data-image="{{ (.Resize "x600 q80").RelPermalink }}"{{end}}>
    <div class="inner">
      <header class="major">
        <h1>{{ $banner.title | default .Title | markdownify }}</h1>
      </header>
      <div class="content">
        <div>{{ $banner.subtitle | default .Description | markdownify }}</div>
        {{ with $banner.buttonText }}
          <ul class="actions">
            <li><a href="#one" class="button next scrolly">{{ . }}</a></li>
          </ul>
        {{- end }}
      </div>
    </div>
  </section>
{{- end -}}

