{{- /*
  The "tiles" section might be pulled in because a page explicitly asks for
  tiles and provides a list of "showcase" values... or it might be used as the
  rendering style for any section/IsNode page.
*/ -}}

{{- if .Params.tiles.enable }}
  <section id="one" class="tiles">
    {{- range .Params.tiles.showcase }}
    <article>
      <span class="image">
        {{/* TODO: why not simply relative? why baseURL? */}}
        {{/* <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" /> */}}
        <img src="/img/{{ .image }}" alt="" />
      </span>
      <header class="major">
        <h3><a href="{{ .url | relURL }}" class="link">{{ .title }}</a></h3>
        <p>{{ .subtitle }}</p>
      </header>
    </article>
    {{- else }}
      {{- range .Pages }}
        <article>
          <span class="image">
            {{/* TODO: why not simply relative? why baseURL? */}}
            {{/* <img src="{{ .Site.Params.baseURL }}img/{{ .image }}" alt="" /> */}}
            <img src="/img/{{.Section}}/{{ .Params.image }}" alt="" />
          </span>
          <header class="major">
            <h3><a href="{{ .Permalink | relURL }}" class="link">{{ .Title }}</a></h3>
            {{ .Description | markdownify }}
          </header>
        </article>
      {{- end }}
    {{- end }}
  </section>
{{- end }}
