{{ define "main" }}
  {{ partial "banner.html" . }}

  {{- /* the list content is surfaced via the banner, so nothing happens here */ -}}
  {{ "" | safeHTML }}{{- /* a non-null no-op! */ -}}
  {{- /* TODO: lift this to use tile or two? ... */ -}}
  {{- /* this is uglier than tiles, so we no longer use it. */ -}}
  {{ if (not .Params.tiles.enable) }}
    <section class="content">
      <div class="inner">
        {{ $banner := .Page.Params.banner }}

        {{ if or (not $banner) (eq $banner.enabled false) }}
          <h1>{{ .Title | markdownify }}</h1>
        {{ end }}


        <div class="mt-12 mx-auto prose max-w-[80ch] xl:prose-lg prose-zinc">
          {{ .Content }}
        </div>

        <section class="mx-auto prose max-w-[80ch] xl:prose-lg prose-zinc">
          {{ range $i, $p := .Pages }}
            {{ $tile := $p.Resources.Get "tile.jpg" }}
            {{ $tileW := $p.Resources.Get "tile.webp" }}
            {{ .Scratch.SetInMap "debug" "01-page" $p }}
            {{ .Scratch.SetInMap "debug" "02-kind" $p.Kind }}
            {{ .Scratch.SetInMap "debug" "02-date" $p.Date }}
            {{ .Scratch.SetInMap "debug" "03-desc" $p.Params.description }}
            {{ .Scratch.SetInMap "debug" "04-tile" $tile }}
            {{ .Scratch.SetInMap "debug" "04-tileW" $tileW }}
            {{- /* .Scratch.SetInMap "debug" "10-params" .Params */ -}}
            {{ .Scratch.SetInMap "debug" "11-resources" $p.Resources }}
            {{ partial "debug.html" (slice . (.Scratch.Get "debug")) }}
            {{ .Scratch.Delete "debug" }}


            <article
              class="mt-12 not-prose bg-cover bg-center bg-[url({{ ($tile.Resize "x800 q80").RelPermalink }})]"
            >
              <a
                href="{{ $p.RelPermalink }}"
                class="tile block w-full text-zinc-900 {{ partial "bg-color.tmpl" $p }}/75 hover:bg-white/40 hover:text-black hover:text-shadow-tile transition-all duration-750 backdrop-blur-none py-24 px-18"
              >
                <h3
                  class="text-3xl font-semibold text-zinc-900 pb-4 border-b-2 border-zinc-900 mb-4"
                >
                  {{ $p.Title | markdownify }}
                </h3>
                <div
                  class="text-xs uppercase tracking-wider font-semibold font-zinc-800 flex justify-between"
                >
                  <p>{{ $p.Description | markdownify }}</p>
                  <p>{{ $p.Date.Format site.Params.dateFormat }}</p>
                </div>
              </a>
            </article>
          {{ end }}
        </section>
      </div>
    </section>
  {{ end }}

{{ end }}
