{{ define "main" }}
  {{- /*
    If the banner was used, we don't need to show the title... but if not...
  */ -}}

  <div>SINGLE PAGE</div>

  {{- $banner := .Page.Params.banner -}}

  <section id="single">
    <div class="inner">
      {{- if or (not $banner) (eq $banner.enabled false) }}
        <h1>{{ .Title | markdownify }}</h1>
      {{- end }}
      {{- if .Date }}
        <p style="text-align: right">{{ .Date.Format site.Params.dateFormat }}</p>
      {{- end }}
      {{ .Content }}
    </div>
  </section>
{{ end }}
